.material-icons,
.sidebar-text{
    vertical-align: middle;
}
.material-icons{
    margin-right:2rem
}

.sidebar-header{
    text-align: center;
    padding: .8rem;
}

.sidebar-wrapper{
    z-index: 1;
    width: 22rem;
    color:white;
    background-color: #0d0d25;
}

.sidebar-content{
    place-items: left stretch;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}

.sidebar-wrapper a{
    text-decoration: none;
    margin:1.2rem 0 1.2rem 0;
    color: #ffffff;
    font-size: .8rem;
}

.sidebar-wrapper a:hover{
    color: #ffc171;
    transition: 0.5s;
}

.active-link{
    color: #523ece;
}

.recursive{
    font-family: 'Recursive',sans-serif !important;
}