*{
    margin:0;
    padding:0;
    font-family: 'Roboto';
}

html{
    font-size: 16px;
}

.form-container{
    text-align: center;
    margin-bottom: 2rem;
}

.table-container{
    width: 100%;
}

.content-container{
    width: 100%;
    z-index: 0;
}

.app-wrapper{
    display: flex;
    flex-direction: row;
}
